html, body{
	width: 100%;
	height:100%;
	margin: 0;
	padding: 0;
}

#bg-noise {
	display: none;
}

.base{
	width: 200%;
	height:100%;
	z-index: 0;
	overflow:hidden;
	position: fixed;
}

.layer1 {
	opacity: .9;
	z-index: 1;
}

.layer2 {
	opacity: .8;
	z-index: 2;
}

.layer3 {
	opacity: .7;
	z-index: 3;
}

.layer4 {
	opacity: .6;
	z-index: 4;
}

.layer5 {
	opacity: .5;
	z-index: 5;
}

.layer6 {
	opacity: .4;
	z-index: 6;
}

.layer7 {
	opacity: .3;
	z-index: 7;
}

#screen {
	position: fixed;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.tracks {
	background-attachment: fixed;
	margin:0;
    padding: 0;
    position: relative;
    height: 100%;
/*    background-blend-mode: multiply;*/
    background-size: cover;
    display: block;
    float: left;
    overflow: visible; 
}

.road {
	background-image: url("images/road.jpg");
}

.paris {
	background-image: url("images/paris.jpg");
}

.nyc {
	background-image: url("images/nyc.jpg");
}

/*layer 1 road*/
.track1 {
	left: 12px;
	width: 2.5%;
}

.track2 {
	left: 46px;
	width: 6.3%;
}

.track3 {
	left: 82px;
	width: 3%;
}

.track4 {
	left: 134px;
	width: 2%;
}

.track5 {
	left: 142px;
	width: 5.8%;
}

.track6 {
	left: 177px;
	width: 3.2%;
}

.track7 {
	left: 205px;
	width: 4.1%;
}

.track8 {
	left: 249px;
	width: 8.6%;
}

/*layer 1 paris*/
.track9 {
	left: -140px;
	width: 3.5%;
}

.track10 {
	left: -105px;
	width: 2%;
}

.track11 {
	left: -60px;
	width: 5%;
}

.track12 {
	left: -30px;
	width: 4.5%;
}

.track13 {
	left: 2px;
	width: 3.2%;
}

.track14 {
	left: 25px;
	width: 1.5%;
}

.track15 {
	left: 32px;
	width: 1.9%;
}

.track16 {
	left: 62px;
	width: 3.6%;
}

.track17 {
	left: 108px;
	width: 4.3%;
}

.track18 {
	left: 123px;
	width: 2.3%;
}

/*layer 1 nyc*/
.track19 {
	left: -252px;
	width: 3.7%;
}

.track20 {
	left: -240px;
	width: 5.7%;
}

.track21 {
	left: -210px;
	width: 1.8%;
}

.track22 {
	left: -190px;
	width: 4.2%;
}

.track23 {
	left: -160px;
	width: 2.6%;
}

.track24 {
	left: -122px;
	width: 3.6%;
}

.track25 {
	left: -81px;
	width: 5.6%;
}

.track26 {
	left: -42px;
	width: 3.1%;
}

.track27 {
	left: -18px;
	width: 1.2%;
}

/*layer 2 road*/
.track28 {
	left: 0px;
	width: 3.7%;
}

.track29 {
	left: 30px;
	width: 2.9%;
}

.track30 {
	left: 70px;
	width: 3.4%;
}

.track31 {
	left: 100px;
	width: 1.8%;
}

.track32 {
	left: 115px;
	width: 2.7%;
}

.track33 {
	left: 175px;
	width: 4.9%;
}

.track34 {
	left: 253px;
	width: 1.4%;
}

.track35 {
	left: 309px;
	width: 2.3%;
}

/*layer 2 paris*/
.track36 {
	left: -83px;
	width: 1.9%;
}
.track37 {
	left: -68px;
	width: 3.9%;
}
.track38 {
	left: -42px;
	width: 5.5%;
}
.track39 {
	left: 51px;
	width: 2.1%;
}
.track40 {
	left: 88px;
	width: 1.5%;
}
.track41 {
	left: 116px;
	width: 2.95%;
}
.track42 {
	left: 160px;
	width: 3.4%;
}

/*layer 2 nyc*/
.track43 {
	left: -180px;
	width: 2.3%;
}
.track44 {
	left: -90px;
	width: 3.5%;
}
.track45 {
	left: 10px;
	width: 3.1%;
}
.track46 {
	left: 32px;
	width: 2%;
}
.track47 {
	left: 92px;
	width: 2.8%;
}
.track48 {
	left: 116px;
	width: 2.4%;
}
.track49 {
	left: 153px;
	width: 1.9%;
}


/*layer 3 road*/
.track50 {
	left: -217px;
	width: 3.9%;
}
.track51 {
	left: -184px;
	width: 3.8%;
}
.track52 {
	left: -162px;
	width: 5.5%;
}
.track53 {
	left: -285px;
	width: 1.2%;
}
.track54 {
	left: 35px;
	width: 2.2%;
}
.track54b {
	left: 122px;
	width: 1.2%;
}

/*layer 3 paris*/
.track55 {
	left: 0px;
	width: 2.5%;
}
.track56 {
	left: 0px;
	width: 1.9%;
}
.track57 {
	left: 0px;
	width: 2.5%;
}
.track58 {
	left: 0px;
	width: 1.9%;
}
.track59 {
	left: 0px;
	width: 1.9%;
}

/*layer 3 nyc*/
.track60 {
	left: 0px;
	width: 2.5%;
}
.track61 {
	left: 0px;
	width: 1.9%;
}
.track62 {
	left: 0px;
	width: 2.5%;
}
.track63 {
	left: 0px;
	width: 1.9%;
}
.track64 {
	left: 0px;
	width: 1.9%;
}

/*layer 4 road*/
.track65 {
	left: -89px;
	width: 3.6%;
}
.track66 {
	left: -49px;
	width: 2.9%;
}
.track67 {
	left: -195px;
	width: 2.7%;
}
.track68 {
	left: -32px;
	width: 2.6%;
}
.track69 {
	left: 20px;
	width: 1.9%;
}

/*layer 5 road*/
.track70 {
	left: -341px;
	width: 7.4%;
}
.track71 {
	left: 172px;
	width: 8.1%;
}
.track72 {
	left: 220px;
	width: 8.0%;
}
.track73 {
	left: 270px;
	width: 7.6%;
}


/*layer 4 paris*/

/*layer 4 nyc*/





#helper{
	display:none;
	position:absolute;
	left:0;
	top:0;
	height:10000%;
	width:20px;
	margin:0;
}

.marker{
	width:100%;
	height:1%;
	border: 2px solid white;
	font-family: helvetica;
	font-size: 2em;
	border: 2px solid white;
}